$cerulean: #00A0E2;
$cerulean-60: #66C6EE;
$cerulean-40: #99D9F4;
$cerulean-20: #CCECF9;
$cerulean-10: #E5F6FC;

$midnight-blue: #002F5D;
$midnight-blue-60: #66829E;
$midnight-blue-40: #99ACBE;
$midnight-blue-20: #CCD5DF;
$midnight-blue-10: #E5EAEF;

$orange: #ED8000;
$orange-60: #F4B366;
$orange-40: #F8CC99;
$orange-20: #FBE5CC;
$orange-10: #FDF2E5;

$aqua-spring: #E6F4F8;
$silver: #B2B2B2;
$light-silver: #DDDDDD;
$gallery: #F0F0F0;
$red: #FF0000;
$green: #7AC143;


// Palette used in product pages
$mine-shaft: #272727;
$white-ice: #E4F5FB;
$alabaster: #F7F7F7;
$monza: #CD0A0A;
$silver: #CCC;
$killarney: #3C763D;
$zanah: #D0E9C6;
$apple-blossom: #A94442;
$oyster-pink: #EBCCCC;
$bizarre: #F2DEDE;
$peppermint: #DFF0D8;
$casper: #AABDCD;
$loblolly: #C5CDD5;
$roof-terracotta: #af1e23;
$alto: #d9d9d9;
$dark-alto: #d1d1d1;
$white: #fff;
$black: #000;
$silver-chalice: #acacac;
$blue-charcoal: #021624;

// flightpage colors
$japanese-laurel: #00A900;
$fringy-flower: #C1EAC1;
$heather: #B2C1CF;
$fair-pink: #FFECE8;
$crusta: #FD8825;
$chilean-heath: #FFFFE8;
$mercury: #E7E7E7;
$golden-glow: #FBEB9C;
$jordy-blue: #99D9F3;
$concrete: #F3F3F3;

// account label colors. these are apparently standard FA colors, but I only
// know of them in the account name header
$account-green : #abb400;
$account-orange: #febc11;
$account-yellow: #fae051;
$account-white: $white;

$light-gray: #E1E1E1;
$medium-gray: #B3B3B3;
$dove-gray: #666;
$dark-gray: #4D4D4D;

$standardRadius: 3px;

$Helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$HelveticaLight: HelveticaNeue-Light, Arial, sans-serif;
$Lato: Lato, sans-serif;
$LatoLight: LatoLight, sans-serif;
$Monospace: monospace;

$mainWidth: 90%;
$minMainWidth: 950px;
$maxMainWidth: 1500px;

/* Responsive breakpoints */
$screen-large: 1024px;
$screen-medium-large: 991px;
$screen-medium: 970px;
$screen-small: 767px;
$screen-small-plus1: 768px;
$screen-small-minus1: 766px;
$screen-mobile: 480px;
$screen-mobile-minus1: 479px;

// Global Tier Signup Colors
$global-silver: #999;
$global-gold: #fac300;
$global-platinum: #e6e6e6;
$disabled: #808080;

// Allow access from React components via `import`
:export {
	white: $white;
	cerulean: $cerulean;
	red: $red;
	casper: $casper;
}


/* Used to define the width of top-level content blocks (i.e. header, page content, footer) */
@mixin main-content-width {
	width: $mainWidth;

	max-width: $maxMainWidth;
	min-width: $minMainWidth;

	html.responsive-full & {
		min-width: 0;
	}

	@media screen and (max-width: 1200px) {
		width: 95%;
	}

	@media screen and (max-width: 1024px) {
		width: 98%;
	}
}

@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-smooth: always;
}

@mixin disable-antialias {
	-webkit-font-smoothing: auto;
	-moz-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	font-smoothing: auto;
	font-smooth: auto;
}

/* Cross-browser compatible Flexbox definitions */
@mixin flexBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flexSpaceBetween {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@mixin flexSpaceAround {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

@mixin flexWrapReverse {
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

@mixin flexWrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexNoWrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

@mixin flexExpand {
	-webkit-flex: 1 1 auto;
	-ms-flex-basis: auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

@mixin flex1 {
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

@mixin flexNone {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

@mixin flexShrink {
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

@mixin flexStart {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

@mixin flexCenter {
	-webkit-justify-content: center !important;
	justify-content: center !important;
}

@mixin flexEnd {
	-webkit-box-align: end;
	-ms-flex-align: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

@mixin flexAlignCenter {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

@mixin flexAlignEnd {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-grid-row-align: end;
	align-items: flex-end
}

@mixin flexAlignBaseline {
	-webkit-align-items: baseline;
	align-items: baseline;
}

@mixin flexAlignSelfStart {
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

@mixin flexAlignSelfEnd {
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

@mixin flexAlignSelfCenter {
	-webkit-align-self: center;
	align-self: center;
}

@mixin flexAlignStart {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@mixin flexAlignEnd {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

@mixin flexStretch {
	-webkit-align-items: stretch;
	align-items: stretch;
}

@mixin flexDirectionColumn {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}
@mixin flexDirectionRow {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin transformNone {
	-ms-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

@mixin legacyTableHeaderBackground {
	background: -webkit-gradient(linear, left top, left bottom, from(#267BAE), to(#3A5F97));
	background: -moz-linear-gradient(top, #267BAE, #3A5F97);
	background: -o-linear-gradient(top, #267BAE, #3A5F97) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#267BAE, endColorstr=#3A5F97);
	background-image: -ms-linear-gradient(#267BAE,#3A5F97);
}
